.h {
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Sacramento", cursive;
}
body {
  /* background: #eaeaea; */
  font-family: "Merriweather", serif;
  margin: 0 0 0 0;
  text-align: center;
}
hr {
  border: dotted #66bfbf 6px;
  border-bottom: none;
  width: 6%;
  margin: 100px auto;
}
h1 {
  color: #66bfbf;
  font-family: "Sacramento", "cursive";
  font-size: 90px;
  margin-top: 0;
}
h2 {
  color: #66bfbf;
  font-family: "Montserrat", "serif";
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #11999e;
  font-family: "Montserrat", "serif";
}
a {
  color: #11999e;
  margin: 10px 20px 10px 20px;
  font-size: 1rem;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
p {
  line-height: 2;
}
.program {
  text-decoration: underline;
}
.top-container {
  background-color: #e4f9f5;
  margin-top: 0;
  padding-top: 75px;
  position: relative;
}
.upper-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}
.lower-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.middle-container {
  margin: 0;
}
.bottom-container {
  margin: 0;
  background-color: #66bfbf;
  padding: 50px 0;
}

.profile {
  padding: 50px 0px;
}
.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}
.skill-pic {
  float: left;
  margin-right: 30px;
  margin-top: -20px;
  width: 25%;
}
.skill-pic-row {
  float: right;
  margin-left: 30px;
  margin-top: -27px;
  width: 25%;
}

.copyright {
  color: #fff;
  font-size: 1rem;
  margin-top: 30px;
}
.button {
  margin: 70px 0 100px;
}
